BEGIN;

CREATE TABLE flashcard.alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> fae5b3aa8ff6

CREATE TABLE flashcard.users (
    username VARCHAR NOT NULL, 
    first_name VARCHAR NOT NULL, 
    last_name VARCHAR NOT NULL, 
    hashed_password VARCHAR NOT NULL, 
    is_active BOOLEAN, 
    is_admin BOOLEAN, 
    id BIGSERIAL NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    creator_id BIGINT, 
    modifier_id BIGINT, 
    PRIMARY KEY (id), 
    FOREIGN KEY(creator_id) REFERENCES flashcard.users (id), 
    FOREIGN KEY(modifier_id) REFERENCES flashcard.users (id)
);

CREATE INDEX ix_flashcard_users_id ON flashcard.users (id);

CREATE UNIQUE INDEX ix_flashcard_users_username ON flashcard.users (username);

CREATE TABLE flashcard.decks (
    name VARCHAR NOT NULL, 
    description TEXT, 
    is_public BOOLEAN, 
    id BIGSERIAL NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    creator_id BIGINT, 
    modifier_id BIGINT, 
    PRIMARY KEY (id), 
    FOREIGN KEY(creator_id) REFERENCES flashcard.users (id), 
    FOREIGN KEY(modifier_id) REFERENCES flashcard.users (id)
);

CREATE INDEX ix_flashcard_decks_id ON flashcard.decks (id);

CREATE TABLE flashcard.cards (
    deck_id BIGINT NOT NULL, 
    question TEXT NOT NULL, 
    answer TEXT NOT NULL, 
    keywords JSON NOT NULL, 
    hint TEXT, 
    id BIGSERIAL NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    creator_id BIGINT, 
    modifier_id BIGINT, 
    PRIMARY KEY (id), 
    FOREIGN KEY(creator_id) REFERENCES flashcard.users (id), 
    FOREIGN KEY(deck_id) REFERENCES flashcard.decks (id), 
    FOREIGN KEY(modifier_id) REFERENCES flashcard.users (id)
);

CREATE INDEX ix_flashcard_cards_id ON flashcard.cards (id);

CREATE TABLE flashcard.user_progress (
    user_id BIGINT NOT NULL, 
    deck_id BIGINT NOT NULL, 
    card_id BIGINT NOT NULL, 
    correct BOOLEAN NOT NULL, 
    answered_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    id BIGSERIAL NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    creator_id BIGINT, 
    modifier_id BIGINT, 
    PRIMARY KEY (id), 
    FOREIGN KEY(card_id) REFERENCES flashcard.cards (id), 
    FOREIGN KEY(creator_id) REFERENCES flashcard.users (id), 
    FOREIGN KEY(deck_id) REFERENCES flashcard.decks (id), 
    FOREIGN KEY(modifier_id) REFERENCES flashcard.users (id), 
    FOREIGN KEY(user_id) REFERENCES flashcard.users (id)
);

CREATE INDEX ix_flashcard_user_progress_id ON flashcard.user_progress (id);

INSERT INTO flashcard.alembic_version (version_num) VALUES ('fae5b3aa8ff6') RETURNING flashcard.alembic_version.version_num;

-- Running upgrade fae5b3aa8ff6 -> 1974e6bd878b

CREATE TYPE gamesessionstatus AS ENUM ('ACTIVE', 'COMPLETED', 'ABANDONED');

CREATE TABLE flashcard.game_sessions (
    user_id BIGINT NOT NULL, 
    deck_id BIGINT NOT NULL, 
    status gamesessionstatus NOT NULL, 
    remaining_cards BIGINT[] NOT NULL, 
    success_cards BIGINT[] NOT NULL, 
    id BIGSERIAL NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    creator_id BIGINT, 
    modifier_id BIGINT, 
    PRIMARY KEY (id), 
    FOREIGN KEY(creator_id) REFERENCES flashcard.users (id), 
    FOREIGN KEY(deck_id) REFERENCES flashcard.decks (id), 
    FOREIGN KEY(modifier_id) REFERENCES flashcard.users (id), 
    FOREIGN KEY(user_id) REFERENCES flashcard.users (id)
);

CREATE INDEX ix_flashcard_game_sessions_id ON flashcard.game_sessions (id);

UPDATE flashcard.alembic_version SET version_num='1974e6bd878b' WHERE flashcard.alembic_version.version_num = 'fae5b3aa8ff6';

-- Running upgrade 1974e6bd878b -> 517001ff779d

CREATE TABLE flashcard.card_attempts (
    id BIGSERIAL NOT NULL, 
    session_id BIGINT NOT NULL, 
    card_id BIGINT NOT NULL, 
    user_id BIGINT NOT NULL, 
    is_correct BOOLEAN NOT NULL, 
    response_time_seconds FLOAT, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    creator_id BIGINT, 
    modifier_id BIGINT, 
    PRIMARY KEY (id), 
    FOREIGN KEY(session_id) REFERENCES flashcard.game_sessions (id), 
    FOREIGN KEY(card_id) REFERENCES flashcard.cards (id), 
    FOREIGN KEY(user_id) REFERENCES flashcard.users (id), 
    FOREIGN KEY(creator_id) REFERENCES flashcard.users (id), 
    FOREIGN KEY(modifier_id) REFERENCES flashcard.users (id)
);

CREATE INDEX ix_flashcard_card_attempts_session_id ON flashcard.card_attempts (session_id);

CREATE INDEX ix_flashcard_card_attempts_card_id ON flashcard.card_attempts (card_id);

CREATE INDEX ix_flashcard_card_attempts_user_id ON flashcard.card_attempts (user_id);

UPDATE flashcard.alembic_version SET version_num='517001ff779d' WHERE flashcard.alembic_version.version_num = '1974e6bd878b';

COMMIT;

